* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  padding: 20px;
}

#balls {
  display: flex;
  justify-content: center;
}

.ball {
  width: 80px;
  height: 80px;
  border: solid 1px black;
  border-radius: 100%;
  margin: 25px 3px;
}

#answer {
  font-size: 20px;
}

#reset-game {
  margin: 10px 0;
  padding: 5px;
}
